{lib_dirs,["deps"]}.

{require_otp_vsn, "R14B02"}.

{deps, [
        {s3erl, ".*", {git, "git://github.com/bottiger/s3erl.git", "master"}},
        {gproc, ".*", {git, "git://github.com/esl/gproc.git", "master"}},
        {proper, ".*", {git, "https://github.com/etrepum/proper.git", "master"}},
        {erlang_json_parser, ".*", {git, "git@github.com:bottiger/erlang-json-parser.git", "master"}},
        {ibrowse, ".*", {git, "git://github.com/edwardw/ibrowse.git", "master"}} 
]}.
